.THIS.blue {
    background-color: #16325C;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    padding: 2px 0;
}
.THIS .logo
{
    display: block;
    margin-left: auto;
    margin-right: auto 
}